<div class="videocatalog-wrapper container">
	<div class="row">
		<nav class="navbar navbar-default">
			<div class="row">
				<span class="col-sm-1 col-md-1 col-lg-1"></span>
				<span class="navbar-brand col-sm-3 col-md-3 col-lg-3">LOGO </span>

				<span class="col-sm-1 col-md-1 col-lg-1"></span>

				<div class="col-sm-6 col-md-6 col-lg-6">
					<span class="navbar-brand col-sm-8 col-md-8 col-lg-8"></span>

					<a ui-sref="login" ng-click="logInApp()" class="navbar-brand col-sm-1  col-md-1 col-lg-1 text-right">LogIn</a>
					<span class="navbar-brand  col-lg-1 col-md-1 text-right"></span>
					<a ui-sref="login" ng-click="logOutApp()"  class="navbar-brand  col-sm-1  col-md-1 col-lg- text-right">LogOut</a>
				</div>

			</div>
		</nav>
	</div>
	<div ui-view></div>
</div>
